<div>
    <mat-toolbar>
        <button mat-button routerLink="cliente">Clientes</button>
        <button mat-button routerLink="factura">Factura</button>
        <button mat-button routerLink="facturaForm">Factura Form</button>
        <button mat-button routerLink="tipoCliente">Tipo Cliente</button>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
    </mat-toolbar>
</div>